<h1>UsersEdit</h1>

<div>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do |error| %>
			<%= error %>
		<% end %>
	<% end %>
</div>


<div>
	<%= form_tag(user_path, method: :patch, multipart: true) do %>
		<%= image_tag "/#{@user.image_name}", :size =>'100x100' %><br>
		<%= file_field_tag :image %><br>
		<%= text_field_tag :name, @user.name %><br>
		<%= text_area_tag :content, @user.email %><br>
		<%= submit_tag("update") %>
	<% end %>
</div>