<h1>UsersEdit</h1>

<div>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do |error| %>
			<%= error %>
		<% end %>
	<% end %>
</div>


<div>
	<%= form_tag(user_path, method: :patch, multipart: true) do %>
		<%= image_tag "/#{@user.image_name}", :size =>'100x100' %><br>
		<%= file_field_tag :image %><br>
		<p>name</p><br>
		<%= text_field_tag :name, @user.name %><br>
		<p>email</p><br>
		<%= email_field_tag :email, @user.email %><br>
		<p>password</p><br>
		<%= password_field_tag :password %>
		<p>password_confirmation</p>
		<%= password_field_tag :password_confirmation %>
		<%= submit_tag("update") %>
	<% end %>
</div>