<h1>UsersNewページ</h1>

<div>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do |error| %>
			<%= error %>
		<% end %>
	<% end %>
</div>


<div>
	<%= form_tag(users_path, method: :post) do %>
		<%= text_field_tag :name, @user.name %><br>
		<%= text_area_tag :email, @user.email %><br>
		<%= submit_tag("create") %>
	<% end %>

</div>