<h1>UsersNewページ</h1>

<div>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do |error| %>
			<%= error %>
		<% end %>
	<% end %>
</div>


<div>
	<%= form_tag(users_path, method: :post) do %>
		<P>name</P><br>
		<%= text_field_tag :name, @user.name %><br>
		<p>email</p><br>
		<%= email_field_tag :email, @user.email %><br>
		<p>password</p><br>
		<%= password_field_tag :password %>
		<p>password_confirmation</p>
		<%= password_field_tag :password_confirmation %>
		<%= submit_tag("create") %>
	<% end %>

</div>