<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
  <div class="toppage">
    <%= link_to("TweetApp", "/") %>
  </div>
  <ul class="header-menus">
    <% if logged_in? %>
      <p>ようこそ</p>
      <%= @current_user.id %> <!-- どっちもいける同じようなものだから -->
      <%= set_current_user.name %>
      <li>
        <%= link_to("TweetAbout", about_path) %>
      </li>
      <li>
        <%= link_to("PostIndex", "/posts") %>
      </li>
      <li>
        <%= link_to("New", "/posts/new") %>
      </li>
      <li>
        <%= link_to("User一覧", "/users") %>
      </li>
      <li>
        <%= link_to("ログアウト", "logout", method: :delete) %>
      </li>
    <% else %>
      <li>
        <%= link_to("ログイン", "login",) %>
      </li>
      <li>
        <%= link_to("新規登録", new_user_path) %>
      </li>
    <% end %>
  </ul>
</header>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
    <%= yield %>
  </body>
</html>
